@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<head>
    <script>
        function activate()
        {
            checkUserPriviliges();
            setLoginData();
        }
    </script>
</head>

<body onload="activate()">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">Wystąpił bład w trakcie wykonywania działania.</h2>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }

    @if (Model.ShowMessage)
    { 
        <p>
            <span>@Model.Message</span>
        </p>
    }
</body>
