@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<script>
    var webApiAddress = localStorage.getItem("WebApiAddress");

    setTimeout(function (){
        var loginBody = document.getElementById("loginBody");

        loginBody.addEventListener("keypress", function (e) {
            if (e.key == "Enter")
            {
                Login()
            }
        })
    }, 100);

    function activate()
    {
        checkUserData();
    }

    function Login()
    {
        document.getElementById("response").innerText = "";
        document.getElementById("loader").style.display = "block";
        var email = document.getElementById("username").value;
        var password = document.getElementById("password").value;

        if (email == "" || email == undefined || email == null)
        {
            document.getElementById("loader").style.display = "none";
            document.getElementById("response").innerText = "Pole email nie może być puste";
        }

        if (password == "" || password == undefined || password == null) {
            document.getElementById("loader").style.display = "none";
            document.getElementById("response").innerText = "Pole hasło nie może być puste";
        }

        $.get(webApiAddress + "/GetUserToLogin?email=" + email + "&password=" + password, function (data) {
            if (data.statusCode != undefined && data.statusCode == 404)
            {
                document.getElementById("loader").style.display = "none";
                document.getElementById("response").innerText = data.message;
                return;
            }
            else
            {
                $.get(webApiAddress + "/GetUserById?id=" + data.id, function (data){
                    document.getElementById("loader").style.display = "none";
                    localStorage.setItem("user", JSON.stringify(data));
                    localStorage.setItem("origin", window.location.origin);

                    window.location.href = localStorage.getItem("origin") + "/main";
                });
            }
        });
    }
</script>

<body id="loginBody" onload="activate()" class="login" style="overflow: hidden">
    <table class="login" style="width: 100%; text-align:center">
        <tbody>
            <tr>
                <td>
                    <div>
                        <h1 class="display-4">@ViewData["Title"]</h1>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="height: 100% ">
                        <div style="margin-bottom: 20px">
                            <input id="username" style="margin-left: auto; margin-right:auto " placeholder="Login" />
                        </div>
                        <div style="margin-bottom: 20px">
                            <input id="password" type="password" style="margin-left: auto; margin-right:auto " placeholder="Hasło" />
                        </div>
                        <div style="margin-bottom: auto">
                            <button onclick="Login()" style="margin-left: auto; margin-right:auto ">Zaloguj</button>
                        </div>
                        <div style="margin-top: 20px">
                            <div class="loader" id="loader" style="margin-left: auto; margin-right: auto; display: none"></div>
                            <span id="response" style="color: red"></span>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center" >
        
    </div>
</body>