@page
@model IntranetAPP.Pages.UserModel
@{
}
<head>
    <script>
        function activate()
        {
            
        }
    </script>
</head>
<body onload="activate()">
    <div class="container">

    </div>
</body>